/* Colors root */
:root {
  --primary-color: #4d5ae5;
  --pressed-color: #404bbf;
  --dark-color: #2e2f42;
  --text-color: #434455;
  --cloud-color: #f4f4fd;
  --white-color: #ffffff;
  --cornflower-color: #e7e9fc;
}

/* #region Base */
body {
  font-family: 'Roboto', sans-serif;
  background-color: var(--white-color);
  color: var(--text-color);
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

a {
  text-decoration: none;
  color: currentColor;
}

ul {
  margin: 0;
  padding-left: 0;
  list-style: none;
}

address {
  font-style: normal;
}

button {
  cursor: pointer;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

/* #endregion */

/* visually hidden */
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/* CONTAINER */
.container {
  max-width: 1158px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}

/* SECTION */
.section {
  padding-top: 120px;
  padding-bottom: 120px;
}

/* LOGO */
.logo {
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;

  color: var(--primary-color);
  text-decoration: none;
  margin-right: 76px;
}

.logo-studio-header {
  color: var(--dark-color);
}

.logo-studio-footer {
  color: var(--cloud-color);
}

/* NAVIGATION */
.nav {
  display: flex;
  align-items: center;
}

.nav-list {
  display: flex;
  gap: 40px;
}

.nav-link {
  display: block;
  padding: 24px 0;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;

  color: var(--dark-color);
  text-decoration: none;
}

.nav-link:hover,
.nav-link:focus {
  color: var(--pressed-color);
}

/* HEADER SECTION */
.header-page {
  border-bottom: 1px solid var(--cornflower-color);
}

.header-container {
  display: flex;
  align-items: center;
}

.header-contacts {
  margin-left: auto;
}

.header-contacts-list {
  display: flex;
  gap: 40px;
  letter-spacing: 0.02em;
}

.header-contacts-link {
  display: block;
  padding: 24px 0;
  font-size: 16px;
  line-height: 1.5;
  color: var(--text-color);
  text-decoration: none;
}

.header-contacts-link:hover,
.header-contacts-link:focus {
  color: var(--pressed-color);
}

/* HERO SECTION */
.hero-section {
  background-color: var(--dark-color);
  text-align: center;
  padding: 188px 0;

  background-image:
    linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)),
    url('../images/hero/hero-bg.jpg');

  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;

  max-width: 1440px;
  margin: 0 auto;
}

.hero-container {
}

.hero-title {
  max-width: 496px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 48px;

  font-size: 56px;
  line-height: 1.07;
  font-weight: 700;
  color: var(--white-color);
}

/* HERO BUTTON */
.hero-button {
  display: block;
  min-width: 169px;
  height: 56px;
  border: none;
  border-radius: 4px;
  margin: 0 auto;

  background-color: var(--primary-color);
  color: var(--white-color);
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  cursor: pointer;
}

.hero-button:hover,
.hero-button:focus {
  background-color: var(--pressed-color);
}

/* FEATURES SECTION */
.features-list {
  display: flex;
  gap: 24px;
}

.features-item {
  flex-basis: calc((100% - 72px) / 4);
}

.features-icon-box {
  display: flex;
  align-items: center;
  justify-content: center;

  height: 112px;
  margin-bottom: 8px;

  background-color: var(--cloud-color);
  border-radius: 4px;
}

.features-subtitle {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  color: var(--dark-color);
  margin-bottom: 8px;
}

.features-text {
  font-size: 16px;
  line-height: 1.5;
}

/* TEAM SECTION */
.team-section {
  background-color: var(--cloud-color);
}

.team-list {
  display: flex;
  gap: 24px;
}

.team-item {
  flex-basis: calc((100% - 72px) / 4);
  background-color: var(--white-color);

  box-shadow:
    0px 2px 1px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16),
    0px 1px 6px rgba(46, 47, 66, 0.08);
}

.team-title {
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  text-transform: capitalize;
  color: var(--dark-color);
  margin-bottom: 72px;
}

.team-caption {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  color: var(--dark-color);

  text-align: center;
  margin-top: 32px;
  margin-bottom: 8px;
}

.team-type {
  font-size: 16px;
  line-height: 1.5;
  text-align: center;
  margin-bottom: 32px;
}

.team-social-list {
  display: flex;
  justify-content: center;
  gap: 24px;
}

.team-social-link {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: var(--primary-color);

  display: flex;
  align-items: center;
  justify-content: center;

  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.team-social-link:hover {
  background-color: var(--pressed-color);
}

.team-social-link svg {
  fill: var(--white-color);
}

/* PORTFOLIO SECTION */
.portfolio-list {
  display: flex;
  flex-wrap: wrap;
  gap: 48px 24px;
}

.portfolio-item {
  flex-basis: calc((100% - 48px) / 3);
}

.portfolio-title {
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  text-transform: capitalize;
  color: var(--dark-color);

  margin-bottom: 72px;
}

/* CARD TEXT */
.portfolio-card-text {
  padding: 32px 16px;
  border: 1px solid var(--cornflower-color);
  border-top: none;
}

.portfolio-caption {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  color: var(--dark-color);

  margin-bottom: 8px;
}

.portfolio-type {
  font-size: 16px;
  line-height: 1.5;
}

/* FOOTER */
.footer-page {
  background-color: var(--dark-color);
  padding: 100px 0;
}

.footer-text {
  font-size: 16px;
  line-height: 1.5;
  color: var(--cloud-color);
  max-width: 264px;
  margin-top: 16px;
}
